@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.HeroContainer{
    position: relative;
    top:-4.8rem;
    z-index: -1;
    overflow: hidden;

}

.HeroContainer>video, .HeroContainer>img{
    width: 100svw;
    height: 100svh;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}


.logo{
    margin-top: 1rem;
    text-align: center;
    width:25%;

}
.logo>img{
    height: 2rem;
    cursor: pointer;
}

.HeroHeader{
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.HText{
    position: absolute;
    left:46%;
    top:45%;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 1000;
    color:rgb(165, 42, 42);
    text-align: center;
}

.Menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.MenuItems{
    display: flex;
    justify-content: center;
    width:100%;
}

.MenuItem{
    color: #000;
    margin: 1rem;
    font-family: monospace; 
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--blue);
    border-radius: 1.5rem;
    padding: 0.7rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    box-shadow: -2px -2px 3px 2px rgba(24, 63, 122,0.75) inset;
    
}

.HBtn{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    width:20%;
}

.LoginBtn, .SignupBtn{
    color: #000;
    margin: 1rem;
    font-family: monospace; 
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.7rem;
    font-weight: 900;
    border-radius: 1.5rem;
    box-shadow: -2px -2px 3px 2px rgba(165, 42, 42,0.75) inset;
}

.SignupBtn{
    background-color: var(--bgcolor);
    border: 2px solid var(--logo);
    box-shadow: -2px -2px 3px 2px rgb(210, 105, 30,0.75) inset;
    color: var(--logo);

}

.MenuItem>a{
    text-decoration: none;
    color:unset
}

.MenuItem:hover{
    animation: hover 1s ease-in-out ;
    animation-fill-mode: forwards;

}
.LoginBtn:hover{
    animation: login_hover 1s ease-in-out ;
    animation-fill-mode: forwards;

}



.active{
    background-color: var(--blue);
    color:#CCC !important;
    border: none !important;
    
}

.htext>img{
    scale:0.9
    
}

.HeroText{
    position: absolute;
    top:50%;
    left:50%;
    color: #00B5EF;
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    animation: slidein 1s ease 0.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes slidein {
    from{
        transform: translate(-40%,-90%);
        opacity: 0%;
    }
    to{
        transform: translate(-50%,-90%);
        opacity: 100%;
    }
}

@keyframes hover{
    from{
        box-shadow: -2px -2px 3px 2px rgba(24, 63, 122,0.75) inset;
    }
    to{
        box-shadow: -2px -2px 3px 50px rgba(24, 63, 122,0.75) inset;
        color: #ccc;

    }
 
}

@keyframes login_hover{
    from{
        box-shadow: -2px -2px 3px 2px rgba(165, 42, 42,0.75)  inset;
    }
    to{
        box-shadow: -2px -2px 3px 50px #a52a2af2  inset;
        color: #ccc;

    }
}

.features{
    width: 100vw;
    height: max-content;

}

.featurecards{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: space-evenly;
    align-items: normal;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: max-content;
    margin:2rem 0
}

.cards:nth-child(2){
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    height: max-content;

}

.cardsimage{
    width: 40%;
    text-align: center;
}

.cardsimage>img{
    width: 75% !important;
    height: 100%;
    border:5px solid #1a1616;
    border-radius: 1rem;
    transform: skewX(5deg);
}

.cards:nth-child(2)>.cardsimage>img{
    transform: skewX(-5deg);
}

.cardText{
    width: 50%;
    text-align: justify;
    margin: 2rem;
    color:#0d0d0d
}

.cardTitle{
    font-weight: 800;
}

.FAB{
    position: fixed;
    bottom:7vh;
    right:2vw;
    transition: ease-in-out 0.5s;
    z-index: 10;

}

.hotPlaces{
    background: #f0f0f0;
    height: clamp(100svh,100svh,max-content);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top:2vh;
    text-transform: capitalize;
    margin: 5vh 0;
}

.hpcards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hpcard{
    margin: 2vh 2vw;
    height:max-content;
    background: #ffffff;
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    position: relative;
    padding: 0;
}

.hpcard_image{
    max-height: max-content;
    overflow: hidden;
}

.hpcard_image>img{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: 5px 10%;
}

.hpcard_text{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease-in-out;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hpcard_text_desc{
    margin-top: 2vh;
    width: 90%;
    text-align: center;
    overflow: hidden;
    font-size: larger;
}
.hpcard_text_head{
    overflow: hidden;
}

.hpcard:hover .hpcard_text{
    bottom: 0;
    height: 100%;
}

.Heading{
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}

@media screen and (width<=768px) {
    
    .HeroContainer{
        position: static;
        height: 100svh;
        
    }

    .cardsimage>img{
        width: 95% !important;
        height: 100%;
        border: none;
        transform: none;
       
    }
    
    .cards:nth-child(2)>.cardsimage>img{
        transform: none;
    }

   
}

@media screen and (width<=576px) {
    .HeroContainer>video, .HeroContainer>img{
        width: 100svw;
        height: 95svh;
        position: relative;
        z-index: -1;
    }

    .htext>img{
       transform: scale(0.4);
    }

    .HeroText{
        width:100vw;
        position: absolute;
        top:17rem;
        height: max-content;
    }
    
    .htext{
        width:100vw;
        display: flex;
        justify-content: center;
    }

    .HText{
        width: 48%;
    }

    .cards{
        flex-direction: column;
    }
    .cards:nth-child(2){
        flex-direction: column;
    }

    .cardsimage{
        width: 100svw;
    }

    .cardText{
        width: 80svw;
    }

    .hpcards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hpcard{
        height: max-content;
        width: 95svw;
    }

    .hpcard_text_head{
        font-size: large;
    }
    .Heading{
        font-size: xx-large;
        font-weight: 900;
        width: 100%;
    }
    
}

@media only screen and ( width <=992px) and (orientation: landscape) {

    .hpcard_text_head{
        font-size: large;
    }

    .hpcard_text_desc{
        font-size: small;
    }
}

@media only screen and (768px<= width <=992px) and (orientation: portrait) {
    .htext>img{
       transform: scale(0.7);
    }

    .HeroText{
        width:100vw;
        position: absolute;
        top:17rem;
        height: max-content;
    }
    
    .htext{
        width:100vw;
        display: flex;
        justify-content: center;
    }

    .HeroHeader{
        display: none;
    }

    .HeroContainer>video, .HeroContainer>img{
        width: 100svw;
        height: 95svh;
        position: relative;
        z-index: -1;
    }

  
}


