@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');




.logo{
    margin-top: 1rem;
    text-align: center;
    width:20%;

}
.logo>img{
    height: 2rem;
    cursor: pointer;
}

.HeroHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.Menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.MenuItems{
    display: flex;
    justify-content: center;
    width:100%;
}

.MenuItem{
    color: #000;
    margin: 1rem;
    font-family: monospace; 
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--blue);
    border-radius: 1.5rem;
    padding: 0.7rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    box-shadow: -2px -2px 3px 2px rgba(24, 63, 122,0.75) inset;
    
}

.HBtn{
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    width:20%;
}

.LoginBtn, .SignupBtn{
    color: #000;
    margin: 1rem;
    font-family: monospace; 
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.7rem;
    font-weight: 900;
    border-radius: 1.5rem;
    box-shadow: -2px -2px 3px 2px rgba(165, 42, 42,0.75) inset;
}

.SignupBtn{
    background-color: var(--bgcolor);
    border: 2px solid var(--logo);
    box-shadow: -2px -2px 3px 2px rgb(210, 105, 30,0.75) inset;
    color: var(--logo);

}

.MenuItem>a{
    text-decoration: none;
    color:unset
}

.MenuItem:hover{
    animation: hover 1s ease-in-out ;
    animation-fill-mode: forwards;

}
.LoginBtn:hover{
    animation: login_hover 1s ease-in-out ;
    animation-fill-mode: forwards;

}



.active{
    background-color: var(--blue);
    color:#CCC !important;
    border: none !important;
    
}



@keyframes slidein {
    from{
        transform: translate(-40%,-90%);
        opacity: 0%;
    }
    to{
        transform: translate(-50%,-90%);
        opacity: 100%;
    }
}

@keyframes hover{
    from{
        box-shadow: -2px -2px 3px 2px rgba(24, 63, 122,0.75) inset;
    }
    to{
        box-shadow: -2px -2px 3px 50px rgba(24, 63, 122,0.75) inset;
        color: #ccc;

    }
 
}

@keyframes login_hover{
    from{
        box-shadow: -2px -2px 3px 2px rgba(165, 42, 42,0.75)  inset;
    }
    to{
        box-shadow: -2px -2px 3px 50px #a52a2af2  inset;
        color: #ccc;

    }
}



.centerLogo{
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B3DAF6;
}

.centerLogo>img{
    height: 3rem !important;
    cursor: pointer;
}
