.loginContainer, .loginFields{
    display: flex;
    width: 100%;
    height: 100svh ;
    justify-content: center;
    align-items: flex-start;
}

.loginForm{
    display: flex;
    height: 40rem;
    width: 30rem;
    margin-top: 5rem;
    flex-direction: column;
    background-color: #f0f0f0;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 10px 7px 29px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 7px 29px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 7px 29px -1px rgba(0,0,0,0.75);
}

.loginFields{
    height: max-content;
    margin: 1rem 0;
}

.loginForm::before{
    content: "Login";
    font-size: xxx-large;
    font-weight: 900;
    text-decoration: underline;
    margin: 1rem 0;
}

.forgotpassword{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem 0;
    font-size: larger;
}

.or, .social{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.social{
    flex-direction: column;
}

.social_icons{
    margin: 1rem 0;
}

.social_icons>span{
    margin: 0 1rem;
    cursor: pointer;
}


.forgotpassword_signup>a, .forgotpassword_forget>a{
    text-decoration: none;
}

@media screen and (width<=576px) {
    .loginForm{
        box-shadow: -1px 0px 27px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 0px 27px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 27px 4px rgba(0,0,0,0.75);;
        width: 95%;
        margin-top: 3rem;
    }

    .social{
        margin-top: 0.5rem;
    }
}