.login{
    background:  linear-gradient(0deg, rgba(40, 41, 40, 0.8), rgba(41, 41, 41, 0.8)), url("https://ik.imagekit.io/mce8nb2epw/public/HomePage/login_background_new.jpg?updatedAt=1689364737239");
    display: flex;
    width: 100%;
    height: 100svh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_card{
    display: flex;
    padding-top: 2rem;
}

.loginImage{
    height: 40rem;
    width: max-content;
    overflow: hidden;
}

.loginImage_img{
    height: 40rem;
    width: auto;
    object-fit: cover;
}

.loginForm{
    display: flex;
    height: 40rem;
    width: 30rem;
    
    flex-direction: column;
    background-color: #f9f9f9;
    justify-content: flex-start;
    align-items: center;
}

.loginFields{
    height: max-content;
    margin: 1rem 0;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.logo::after{
    content: "Welcome Back";
    font-size: x-large;
    font-weight: 900;
    text-decoration: underline;
    margin: 1rem 0;
}

.LogoImage{
    height: 2rem;
}

.loginFields{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forgotpassword{
    display: flex;
    justify-content: right;
    width: 90%;
    margin: 1rem 0;
    font-size: larger;
}

.or, .social{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.social{
    flex-direction: column;
}

.social_icons{
    margin: 1rem 0;
}

.social_icons>span{
    margin: 0 1rem;
    cursor: pointer;
}


.forgotpassword_signup>a, .forgotpassword_forget>a{
    text-decoration: none;
    color: rgba(65, 105, 225, 0.662);
}

.forgotpassword_signup>a:hover, .forgotpassword_forget>a:hover{
    color: rgba(65, 105, 225, 1);
}

@media screen and (width<=576px) {
    .login_card{
        margin-top: 0;
        padding-top: 2rem;
        align-items: flex-start;
        width: 95%;
    }
    .loginContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginForm{
        box-shadow: none;
        width: 95%;
        background-color: white;

    }

    .social{
        margin-top: 0.5rem;
    }

    .loginImage{
        display: none;
    }
}